{{#partial "content" }}

{{> components/header}}

{{> components/top-stats}}

<h3>
    {{> icons/musicnote}}
    les tracks ({{stats.trackCount}})
</h3>
{{#each tracks}}
    <div class="flex-container">
        <div><code>{{playedAt}}</code></div>
        <div class="flex-rest"><b>{{title}}</b><br/> {{artist}}</div>
    </div>
{{/each}}


{{/partial}}

{{> layouts/base}}